*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.website-header{
    background-color: black;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo{
    height: 100%;
}

.nav-links{
    display: flex;
}

.nav-links li{
    margin-left: 24px;
}

.nav-link{
    color: white;
    text-decoration: none;
}